  <div class="char-ability-title">Other Stats</div>
 <div class="row">
  <div class="col col-md-6 col-sm-12">
  <table class="char-ability-list">
  {{#each this.list as |stat index| }}
  {{#if (lt index 2)}}
  <tr>
    <td>{{stat.name}}: {{stat.rating}} </td>
  </tr>
  {{/if}}
  {{/each}}
  </table>
  </div>
  <div class="col col-md-6 col-sm-12">
  <table class="char-ability-list">
  {{#each this.list as |stat index| }}
  {{#if (gt index 1)}}
  <tr>
    <td>{{stat.name}}: {{stat.rating}} </td>
  </tr>
  {{/if}}
  {{/each}}
  </table>
  </div>
</div>

