<div class="row fs3-abilitybox"> 
  <div class="col col-sm-7">
    {{yield}}
  </div>

  <div class="col col-sm-5">
     <button class="fs3-skillbutton" id="remspec" {{action "removeSpecialization"}}>-</button>

     <br>
    
  </div>
  
</div>
